Repository b1-systems/array-metrics-to-influxdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, mypy

.pre-commit-config.yaml:

---
fail_fast: true
repos:
  # required linters/fixers are already part of poetry dev-setup
  - repo: local
    hooks:
      - id: format
        name: Code formatting check
        entry: poetry run make format-check
        pass_filenames: false
        language: system
        files: '^(src|bin)/.+\.py$'

      - id: lint
        name: Code(spell) linting
        entry: poetry run make lint
        pass_filenames: false
        language: system

      - id: mypy
        name: Static Type Checker
        entry: poetry run make mypy
        pass_filenames: false
        language: system
        files: '^(src/.+\.py)|(poetry.lock)|(pyproject.toml)$'

fix typo
  README.md
Due: none

Create actions.yml
  .github/workflows/actions.yml
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Create codeql-analysis.yml (#1)
  .github/workflows/codeql-analysis.yml
Due: none

add ssl support influxdb
  src/array_metrics_to_influx/config.py
  src/array_metrics_to_influx/influx.py
Due: format, mypy

Batch queries for volumes and volume groups
  README.md
  array_metrics_to_influxdb_example.toml
  src/array_metrics_to_influx/collector.py
  src/array_metrics_to_influx/collector_base.py
  src/array_metrics_to_influx/config.py
  src/array_metrics_to_influx/main.py
  src/array_metrics_to_influx/pure.py
Due: format, mypy

bump package version
  pyproject.toml
Due: mypy

update timestamp after data refresh
  src/array_metrics_to_influx/main.py
Due: format, mypy

document `ssl` config switch
  array_metrics_to_influxdb_example.toml
Due: none

adjust version number inside README
  README.md
Due: none

fix readme
  .gitignore
  README.md
Due: none

allow user to set influxdb batch-size
  README.md
  array_metrics_to_influxdb_example.toml
  src/array_metrics_to_influx/config.py
  src/array_metrics_to_influx/influx.py
  src/array_metrics_to_influx/main.py
Due: format, mypy

bump package version
  README.md
  pyproject.toml
Due: mypy

fix measurement_prefix not being applied
  src/array_metrics_to_influx/config.py
  src/array_metrics_to_influx/influx.py
  src/array_metrics_to_influx/main.py
Due: format, mypy
